<?xml version="1.0" encoding="UTF-8"?>
<cache-config
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.oracle.com/coherence/coherence-cache-config"
	xmlns:spring="class://com.oracle.coherence.spring.SpringNamespaceHandler"
	xsi:schemaLocation="http://xmlns.oracle.com/coherence/coherence-cache-config coherence-cache-config.xsd
		class://com.oracle.coherence.spring.SpringNamespaceHandler coherence-spring-config.xsd">

	<spring:bean-factory>
		<spring:application-context-uri>application-context.xml</spring:application-context-uri>
	</spring:bean-factory>

	<caching-scheme-mapping>
		<cache-mapping>
			<cache-name>CacheBML</cache-name>
			<scheme-name>partitioned-CacheBML</scheme-name>
		</cache-mapping>
		<cache-mapping>
			<cache-name>CacheStore</cache-name>
			<scheme-name>partitioned-CacheStore</scheme-name>
		</cache-mapping>
		<cache-mapping>
			<cache-name>CacheBMLPull</cache-name>
			<scheme-name>partitioned-CacheBMLPull</scheme-name>
		</cache-mapping>
		<cache-mapping>
			<cache-name>CacheStorePull</cache-name>
			<scheme-name>partitioned-CacheStorePull</scheme-name>
		</cache-mapping>
		<cache-mapping>
			<cache-name>CacheCustomBackingMap</cache-name>
			<scheme-name>partitioned-CacheCustomBackingMap</scheme-name>
		</cache-mapping>
		<cache-mapping>
			<cache-name>CacheInterceptor</cache-name>
			<scheme-name>partitioned-CacheInterceptor</scheme-name>
			<interceptors>
				<interceptor>
					<instance>
						<spring:bean>
							<spring:bean-name>interceptor</spring:bean-name>
						</spring:bean>
					</instance>
				</interceptor>
			</interceptors>
		</cache-mapping>
	</caching-scheme-mapping>

	<caching-schemes>
		<distributed-scheme>
			<scheme-name>partitioned-CacheCustomBackingMap</scheme-name>
			<service-name>PartitionedCacheService</service-name>
			<backing-map-scheme>
				<class-scheme>
					<spring:bean>
						<!-- using mock factory created in functional test -->
						<spring:factory-name>mock</spring:factory-name>
						<spring:bean-name>localBackingMap</spring:bean-name>
					</spring:bean>
				</class-scheme>
			</backing-map-scheme>
		</distributed-scheme>

		<distributed-scheme>
			<scheme-name>partitioned-CacheBML</scheme-name>
			<service-name>PartitionedCacheService</service-name>
			<backing-map-scheme>
				<local-scheme>
					<listener>
						<class-scheme>
							<spring:bean>
								<spring:bean-name>bml</spring:bean-name>
								<spring:property name="backingMapManagerContext">{manager-context}</spring:property>
							</spring:bean>
						</class-scheme>
					</listener>
				</local-scheme>
			</backing-map-scheme>
		</distributed-scheme>

		<distributed-scheme>
			<scheme-name>partitioned-CacheBMLPull</scheme-name>
			<service-name>PartitionedCacheServicePull</service-name>
			<backing-map-scheme>
				<local-scheme>
					<listener>
						<class-scheme>
							<spring:bean>
								<spring:bean-name>bmlPull</spring:bean-name>
							</spring:bean>
						</class-scheme>
					</listener>
				</local-scheme>
			</backing-map-scheme>
		</distributed-scheme>

		<distributed-scheme>
			<scheme-name>partitioned-CacheStore</scheme-name>
			<service-name>PartitionedCacheService</service-name>
			<backing-map-scheme>
				<read-write-backing-map-scheme>
					<internal-cache-scheme>
						<local-scheme>
						</local-scheme>
					</internal-cache-scheme>
					<cachestore-scheme>
						<class-scheme>
							<spring:bean>
								<spring:bean-name>mapCacheStore</spring:bean-name>
								<spring:property name="cacheName">{cache-name}</spring:property>
							</spring:bean>
						</class-scheme>
					</cachestore-scheme>
				</read-write-backing-map-scheme>
			</backing-map-scheme>
		</distributed-scheme>

		<distributed-scheme>
			<scheme-name>partitioned-CacheStorePull</scheme-name>
			<service-name>PartitionedCacheServicePull</service-name>
			<backing-map-scheme>
				<read-write-backing-map-scheme>
					<internal-cache-scheme>
						<local-scheme>
						</local-scheme>
					</internal-cache-scheme>
					<cachestore-scheme>
						<class-scheme>
							<spring:bean>
								<spring:bean-name>mapCacheStorePull</spring:bean-name>
							</spring:bean>
						</class-scheme>
					</cachestore-scheme>
				</read-write-backing-map-scheme>
			</backing-map-scheme>
		</distributed-scheme>

		<distributed-scheme>
			<scheme-name>partitioned-CacheInterceptor</scheme-name>
			<service-name>PartitionedCacheService</service-name>
			<backing-map-scheme>
				<local-scheme />
			</backing-map-scheme>
		</distributed-scheme>
	</caching-schemes>
</cache-config>