Change History
--------------

The following sections outline ${site-project-title} project changes in
reverse chronological order.


<h3>Version ${project.version} built on ${timestamp} </h3>

<h4>Source and Documentation Contributors</h4>

*   Brian Oliver

<h4>Global and Cross-Module Changes</h4>

*   [Issue #8](https://github.com/coherence-community/coherence-spring/issues/8): Ensured compliance with
    Coherence 12.1.2 and 12.1.3 (for building and running) and 12.2.1 (for running)

*   [Issue #9](https://github.com/coherence-community/coherence-spring/issues/9): Upgraded to use
    Spring Framework 4.3.9

*   [Issue #10](https://github.com/coherence-community/coherence-spring/issues/10): Upgraded to require Java 7

*   [Issue #11](https://github.com/coherence-community/coherence-spring/issues/9): Made Spring Framework
    dependencies scope "provided"

*   [Issue #13](https://github.com/coherence-community/coherence-spring/issues/13): Introduced the
    SpringBasedCoherenceSession to provide a mechanism to configure and acquire
    Coherence-based resources (NamedCaches) from Coherence without using
    static functions or methods.

*   [Issue #15](https://github.com/coherence-community/coherence-spring/issues/15): Provided access to
    Coherence Services via the SpringBasedCoherenceSession

*   [Issue #16](https://github.com/coherence-community/coherence-spring/issues/16): Resolved incorrect XSD
    declaration of spring:property


--------------------------------------------------------------------------------

<h3>Version 1.0.2 built on 2015-08-06 20:45</h3>

<h4>Source and Documentation Contributors</h4>

*   Brian Oliver

<h4>Global and Cross-Module Changes</h4>

*   [COHSPR-8](https://java.net/jira/browse/COHSPR-8): Upgraded to use
    Coherence 12.1.2-0-4 (and certified against Coherence 12.1.3-0-2)


--------------------------------------------------------------------------------

<h3>Version: 1.0.1 built on 2014-11-04 11:09</h3>

<h4>Acknowledgements</h4>

Huge thanks to everyone that provided feedback, isolated defects and contributed fixes.

<h4>Source and Documentation Contributors</h4>

*   Brian Oliver

<h4>Global and Cross-Module Changes</h4>

*   Upgraded Maven Plug-ins

<h4>The `coherence-spring` Module</h4>

*   [COHSPR-5](https://java.net/jira/browse/COHSPR-5): Resolved issue where
    multiple CoherenceApplicationContexts were created during concurrent
    initialization.


--------------------------------------------------------------------------------

<h3>Version: 1.0.0 built on 2013-09-10 13:35</h3>

<h4>Acknowledgements</h4>

Huge thanks to everyone that contributed feedback, suggestions, documentation
and ideas for this initial release.

<h4>Source and Documentation Contributors</h4>

*   Brian Oliver and Patrick Peralta

<h4>Global and Cross-Module Changes</h4>

*   Initial Release

<h4>The `coherence-spring` Module</h4>

*   Initial Release.

<h4>The `coherence-spring-tests` Module</h4>

*   Initial Release.


