Issue Tracking
--------------

The [Issue Tracking][ISSUES] system for the ${site-project-title} project is hosted
by [github.com][GITHUB].  It can be found here:
[https://github.com/coherence-community/coherence-spring/issues][ISSUES].

[FORUMS]:       https://java.net/projects/cohspr/forums "Forums"
[ISSUES]:       https://github.com/coherence-community/coherence-spring/issues "Issue Tracking"
[GITHUB]:       https://github.com/ "github"
[SOURCE]:       https://github.com/coherence-community/coherence-spring "Source Code"
