<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="Coherence" level="WARN" />
    <logger name="com.oracle.coherence.spring" level="INFO" />
    <logger name="org.springframework" level="WARN" />
    <root level="WARN" />
</configuration>