<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright (c) 2013, 2020, Oracle and/or its affiliates.
  Licensed under the Universal Permissive License v 1.0 as shown at
  https://oss.oracle.com/licenses/upl.
-->

<Configuration status="WARN">
	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d [%t] %-5level %logger{36} - %msg%n%throwable" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="org.springframework" level="INFO" />
		<Root level="INFO">
			<AppenderRef ref="ConsoleAppender" />
		</Root>
	</Loggers>
</Configuration>